.activity {
  padding-top: 47px;
}

.activity-list {
  display: flex;
}

.activity-item {
  margin-right: 30px;
}

.activity .flex-item {
  position: relative;
}

.activity-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondaty-title-color);
}

.activity-name {
  width: 100%;
  height: 70px;
  bottom: 0;

  text-transform: uppercase;
  font-size: 14px;
  /* line-height: 16px; */
  color: var(--primary-white-color);

  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}
